body {
  background-image  : url("http://static1.squarespace.com/static/5571e1b3e4b07eb660506bbf/t/557f26a0e4b038ed351652d0/1434396323383/tabletop.jpg?format=original");
  background-size   : 100% 100%;
  background-repeat : no-repeat;
}
.custNavBar {
  background-color : grey;
}
h1 {
  text-align  : center;
  font-size   : 50px;
  font-weight : bold;
  color       : blue;
  font-family : Lucida Console;
  text-shadow : 3px 3px yellow;
}
.playerRow {
  text-align : center;
  position   : relative;
  top        : -30px;
}
.shuffleBoard {
  font-family : 'Press Start 2P', cursive;
  font-size   : 25px;
}
#countdown {
  font-size : 45px;
}
.scoreSum {
  font-family : 'Press Start 2P', cursive;
  font-size   : 20px;
  width       : 200px;
  position    : relative;
  left        : 15px;
}
h2 {
  color       : #0008AF;
  font-family : Courier New;
  font-weight : bold;
}
.topList {
  position    : relative;
  right       : 15px;
}
p {
  color : orange;
}
h3 {
  color       : #FFFFFF;
  font-family : Courier New;
  font-size   : 30px;
  font-weight : bold;
  position    : relative;
  top         : 20px;
}
.player {
  font-family       : 'Pacifico', cursive;
  font-size         : 20px;
  text-align        : center;
  height            : 600px;
  background-image  : url("http://i.stack.imgur.com/8zEoh.png");
  background-size   : 95% 100%;
  background-repeat : no-repeat;
  position          : relative;
  top               : -20px;
  left              : 20px;
}
.topScores {
  font-family       : 'Press Start 2P', cursive;
  font-size         : 17px;
  height            : 600px;
  width             : 380px;
  background-image  : url("http://i.stack.imgur.com/8zEoh.png");
  background-size   : 90% 100%;
  background-repeat : no-repeat;
  position          : relative;
  top               : -20px;
  left              : 10px;
}
.gameRow {
  text-align : center;
}
.timerDiv {
  position : relative;
  top      : -30px;
}
.playerInput {
  border-radius : 15px;
  font-size     : 20px;
  position      : relative;
  top           : 2px;
}
#boggleBoard {
  border           : 15px solid blue;
  border-radius    : 25px;
  background-color : #001199;
  width            : 675px;
  height           : 500px;
  margin           : 0 auto;
  position         : relative;
  top              : -40px;
  left             : 5px;
}
.dice {
	float          : left;
  width          : 25%;
  height         : 118%;
  border         : 5px solid black;
  border-radius  : 30px;
  padding        : 5px;
  background     : white;
  display        : table-cell;
  vertical-align : middle;
  text-align     : center;
  line-height    : 100px;
  font-size      : 100px;
  color          : blue;
}
.aisle {
	height : 100px;
	clear  : both;
}
.gameWords {
  text-align  : left;
  font-size   : 20px;
  font-weight : bold;
}
.scoreBoard {
  font-family : 'Press Start 2P', cursive;
  color       : black;
  text-align  : left;
  font-size   : 20px;
  position    : relative;
  left        : 140px;
}
.clearScores {
  font-family  : 'Press Start 2P', cursive;
  font-size    : 20px;
  position     : relative;
  top          : 25px;
  right        : 45px;
}
